.listItem{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 450ms;
}
.listItem:hover{
    transform: scale(1.1);
}
.listItem__image > img{
  height: 200px;
  margin-right: 20px;
}
.listItem__text  > P{
    font-weight: 600;
    margin-top: 15px;
    color: grey;
    font-style: italic;
}